body {
  background-color:#123;
}
#flag {
  width:695px;
  color:<?=$THEME->flag_color;?>;
  background:<?=$THEME->flag_bcolor;?>;
  margin-bottom:10px;
  text-align:right;
}

/* Story Area Items */
#content {
  width:500px;
  padding:5px;
  padding-top:10px;
  background-color:<?=$THEME->content_area_bcolor;?>;
}
.cbbhead {
  font-size:1.5em;
}
.headsub {
  font-size:1.25em;
  font-style:italic;
}
p {
  color:<?=$THEME->story_color;?>;
  font-size: 12px;
  line-height: 16px;
  text-align:justify;
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
  margin-top:0px;
}

/* NAV Bar Setup */
#vertnav {
  background:<?=$THEME->nav_bcolor;?>;
  padding:5px;
  border-top:1px dotted;
  border-bottom:1px dotted;
}
#vertnav ul {
  width:125px;
  padding-left:10px;
  list-style:none;
  /* list-style-image:url(images/newspaper.gif); */
  text-align:left;
  font:10pt/15pt Verdana,Arial,Sans-serif;
}
#vertnav a {
  width:100px;
  color:<?=$THEME->nav_linkcolor;?>;
  text-decoration:none;
}
/* tool tips */
#tooltip {
  width:120px;
  height:20px;
  border:1px solid black;
  padding:3px;
  background-color:#eeb;
  position:absolute;
  visibility:hidden;
}
#tooltip p {
  font:8pt Times black;
  text-align:center;
}
/* Sidebar items */
#poll {
  background-color:#888;
  width:100%;
  padding-top:5px;
  padding-bottom:5px;
  border-top:1px dotted;
  border-bottom:1px dotted;
}

/* Photo items */
.photoby {
  text-align:right;
  color:<?=$THEME->photoby_color;?>;
  font-size:9px;
  line-height:9px;
  margin-right:0;
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
  text-transform:capitalize;
  margin-bottom:5px;
}
.cutline {
  color:<?=$THEME->cutline_color;?>;
  font-size: 10px;
  line-height: 11px;
  text-transform:capitalize;
  /* text-transform:uppercase; */
  margin-bottom:5px;
  padding-bottom:10px;
  /* border-bottom: 1px solid; */
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
}

/* Table controls */
.masterArea {
  width:800px;
}
.topCol {
  background-color:#fff;
}
.leftCol {
  background-color:#aaa;
  width:150px;
  padding-top:10px;
}
.rightCol {
  background-color:#aaa;
  padding-top:10px;
  width:150px;
}
.midCol {
}
