body {
  background-color:#123;
}
/* Story Area Items */
#photo, #content #photo {
float:right;
width:250px;
padding:5px;
background-color:#eee;
border:1px solid black;
margin:5px;
margin-left:10px;
}
#photo, #content #photo h1 {
font:14pt Times;
text-align:left;
margin:2px;
}
#photo, #content #photo p {
font:8pt Georgia;
line-height:10pt;
border:none;
text-transform:none;
/* text-transform:capitalize; */
text-align:justify;
margin:1px;
padding:0px;
}
#photo, #content #photo p.byline {
color:#aaa;
 text-transform:capitalize;
/* text-transform:uppercase; */
text-align:right;
font-style:italic;
}
#photo, #content #photo img {
align:center;
}
#content {
  width:205px;
  padding:5px;
  background-color:#ddd;
}
#content p {
font:10pt Georgia;
text-align:justify;
/*background:#ffffff;
border-left:1px solid black;
border-right:1px solid black;*/
margin:0px;
padding:5px;
padding-bottom:0px;
}
#content p.byline {
text-transform:capitalize;
color:#444;
padding-top:0px;
}
#content h1 {
font:22pt Times;
/* background:white;
border-left:1px solid black;
border-right:1px solid black; */
margin:0px;
padding:5px;
}
#content h3 {
text-align:left;
padding-left:5px;
padding-top:5px;
background-color:#fff;
border:1px solid black;
border-bottom:none;
margin:0px;
}
#content h6 {
text-align:right;
padding:5px;
background-color:#fff;
border:1px solid black;
border-top:none;
margin:0px;
}
#content h6 a {
font:9pt arial;
text-decoration:none;
font-weight:bold;
color:#000;
}
#content img {
float:right;
}
